$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower
body {
	padding: 0;
	background: #000;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.square {
	margin: 0 auto;
	background: #fff;
	-webkit-transition: height 100ms linear;
	transition: height 100ms linear;
}

.small {
	width: 20vw;
	height: 20vh;
}

.big {
	width: 100vw;
	height: 100vh;
}